<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>LogScan</title>

    <!-- CSS -->

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    
    
    <link href="../../node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    	
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    
            

</head>
<body ng-app="logscan" ng-controller="mainController as main" ng-cloak>

    
    <h1 style="text-align:center;margin-bottom:10px;color:#FF9800">LogScan</h1>
    
    

<div ng-cloak>
  <md-content style="width:80%;margin-left:10%;border:2px solid green;">
    <md-tabs md-dynamic-height md-border-bottom style="text-align:center;width:70%;margin-left:15%;">
      <md-tab label="Create Product">
        <md-content class="md-padding">
        
            <!--Item Code-->
            
            <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
        
              
        
         <label>Item Code</label>
        <input required type="number" step="any" name="itCode" ng-model="main.productData.itCode" min="0" />

        <div ng-messages="main.productData.itCode.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
              
          </md-input-container>
            
            
            <!-- Item Size-->
            
            
            <md-input-container class="md-block" flex-gt-sm>
        
         <label>Size</label>
        <input required type="number" step="any" name="sizeIn" ng-model="main.productData.sizeIn" min="0" />

        <div ng-messages="main.productData.sizeIn.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
              
          </md-input-container>
            </div>
            <div layout-gt-sm="row">
            <!-- Item Model -->
            
            <md-input-container class="md-block" flex-gt-sm>
        
         <label>Model</label>
        <input required type="number" step="any" name="model" ng-model="main.productData.model" min="0" />

        <div ng-messages="main.productData.model.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
              
          </md-input-container>
            
            <!-- Location -->
            
            <md-input-container class="md-block" flex-gt-sm>
        
         <label>Location</label>
        <input required type="number" step="any" name="location" ng-model="main.productData.location" min="0" />

        <div ng-messages="main.productData.location.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
            </md-input-container>
            
            </div>
            <div layout-gt-sm="row">
<!--            Number of Cartons-->
            
            
        <md-input-container class="md-block" flex-gt-sm>
        
         <label>Number of Cartons</label>
        <input required type="number" step="any" name="noc" ng-model="main.productData.noc" min="0" />

        <div ng-messages="main.productData.noc.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
            </md-input-container>
            
            
            <!-- Date -->
            
           <md-input-container class="md-block" flex-gt-sm>
        
         <label>Date</label>
        <input required type="number" step="any" name="date" ng-model="main.productData.dateIn" min="0" />

        <div ng-messages="main.productData.dateIn.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
            </md-input-container>
            </div>
            <div layout-gt-sm="row">
            
            <!-- Brand Number -->    
                
        <md-input-container class="md-block" flex-gt-sm>
        
         <label>Brand Number</label>
        <input required type="number" step="any" name="date" ng-model="main.productData.brand" min="0" />

        <div ng-messages="main.productData.brand.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
            </md-input-container>
                
            
            <!-- Number of items -->
            
           <md-input-container class="md-block" flex-gt-sm>
        
         <label>Default number of items in carton(enter only if new product)</label>
        <input required type="number" step="any" name="date" ng-model="main.productData.productCount" min="0" />

        
            </md-input-container>
            </div>
            
            <md-button class="md-raised md-primary" ng-if="main.productData.location && main.productData.noc && main.productData.dateIn && main.productData.sizeIn && main.productData.itCode && main.productData.brand" ng-click="main.createProduct(main.productData)">Button</md-button>
            
            
        </md-content>
      </md-tab>
      <md-tab label="Sell Product">
        <md-content class="md-padding">
          <h3 class="md-display-1">Sell Item by Barcode and Quantity</h3>
          
            
        <div layout-gt-sm="row">
            <!--            SCAN CODE -->
            
            
        <md-input-container class="md-block" flex-gt-sm>
        
         <label>ScanCode</label>
        <input required type="text"  name="noc" ng-model="main.sellData.scanCode" />

        <div ng-messages="main.sellData.scanCode.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
        
        </md-input-container>
            
<!--
        <md-input-container class="md-block" flex-gt-sm>
        
         <label>Serial</label>
        <input required type="text" name="noc" ng-model="main.sellData.serial"  />

        <div ng-messages="main.sellData.serial.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
        
        </md-input-container>
-->
            
            </div>    
            
            <!--            Number of Items -->
            
            
        <md-input-container class="md-block">
        
         <label>Number of Items</label>
        <input required type="number" step="any" name="noc" ng-model="main.sellData.noi" min="0" />

        
            </md-input-container>
            
            <md-button class="md-raised md-primary" ng-if="main.sellData.scanCode && main.sellData.noi" ng-click="main.sellProduct(main.sellData)" >Button</md-button>
            
            <md-divider style="border-bottom: 2px solid black;"></md-divider>
            
            <!-- Number of Items check on Scan code -->
            
            <h3>Carton Stock Check</h3>
            
            <md-input-container class="md-block" flex-gt-sm>
        
         <label>ScanCode</label>
        <input required type="text"  name="noc" ng-model="main.checkData.scanCode" />

        <div ng-messages="main.checkData.scanCode.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
        <md-progress-linear md-mode="indeterminate" ng-if="main.checkCarton"></md-progress-linear>    
            </md-input-container>
            
            <h5 ng-if="main.returnStockOne && main.returnStockTwo">Stock available is {{main.returnStockOne}} in Warehouse 1 <br> and {{main.returnStockTwo}} in Warehouse 2</h5>
            
            
            
            
            
        <md-button class="md-raised md-primary" ng-if="main.checkData.scanCode" ng-click="main.checkProduct(main.checkData)">Button</md-button>
                
            
        </md-content>
      </md-tab>
        <md-tab label="Sell Product">
        <md-content class="md-padding">
          <h3 class="md-display-1">Sell Item by Barcode</h3>
          
            
        <div layout-gt-sm="row">
            <!--            SCAN CODE -->
            
            
        <md-input-container class="md-block" flex-gt-sm>
        
         <label>ScanCode</label>
        <input required type="text"  name="noc" ng-model="main.sellTwoData.scanCode" ng-enter="main.sellTwoProduct(main.sellTwoData)"/>

        <div ng-messages="main.sellTwoData.scanCode.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
        
        </md-input-container>
            </div>
        
                        
            <md-button class="md-raised md-primary" ng-if="main.sellTwoData.scanCode" ng-click="main.sellTwoProduct(main.sellTwoData)" >Button</md-button>
        
            </md-content>
        </md-tab>
        
        
        
        
        
        
      <md-tab label="Move Product">
        <md-content class="md-padding">
          <h3 class="md-display-1">Move Product</h3>
            
            <!--            SCAN CODE -->
            
            
        <md-input-container class="md-block">
        
         <label>ScanCode</label>
        <input required type="text" name="noc" ng-model="main.moveData.scanCode"  />

        <div ng-messages="main.moveData.scanCode.$error" multiple md-auto-hide="true">
          <div ng-message="required">
            This is a required field.
          </div>  
        </div>
        
        </md-input-container>
            
            
        <md-button class="md-raised md-primary" ng-if="main.moveData.scanCode" ng-click="main.moveProduct(main.moveData.scanCode)">Button</md-button>

            
        </md-content>
      </md-tab>
        
        
        <md-tab label="Product List">
        <md-content class="md-padding">
          <h3 class="md-display-1">Products List</h3>
          <p style="color:red">Please REFRESH the page to see updated values</p>
            
            <!-- product listing -->

  <table>
    <thead>
      <tr>
        <th><span>Item Code</span></th>
        <th><span>Model</span></th>
        <th>Size</th>
        <th>Warehouse 1</th>
        <th>Warehouse 2</th>
        <th>Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr md-row ng-repeat="product in main.productListData">
        <td md-cell>{{product.itCode}}</td>
        <td md-cell>{{product.model}}</td>
        <td md-cell>{{product.sizeIn}}</td>
        <td md-cell>{{main.WstockCalc(product)}}</td>
        <td md-cell>{{main.WstockCalcTwo(product)}}</td>
        <td md-cell>{{main.itemCount(product)}}</td>
      </tr>
    </tbody>
  </table>

            
         
            
        </md-content>
      </md-tab>
        
    </md-tabs>
  </md-content>
</div>


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- ANGULAR DYNAMIC CONTENT -->
<!--    <div ng-view ></div>-->

<!-- JS -->
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    
<!-- module -->
<!--<script type="text/javascript" src="../../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>-->

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- ANGULAR CUSTOM -->

        <!-- Controllers -->
        
            <script src="javascripts/controllers/mainCtrl.js"></script>
            
        <!-- Services -->
            <script src="javascripts/services/mainService.js"></script>
            
        
        <!-- Main -->
<!--            <script src="js/appRoutes.js"></script>-->
            <script src="javascripts/app.js"></script>
</body>
</html>